<!doctype html>
<html>
<head>
    <title>EfeTalks</title>
    <link href="res/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a class="tag" href="#">Back to EfeHQ.com</a></li>
        </ul>
        <br class="clear" />
        <header>
            <img class="logo" src="res/img/logo.png" height="32px" />
        </header>
        <ul>
            <li><a class="tag" href="#">Home</a></li>
            <li><a class="tag" href="#">#Life</a></li>
            <li><a class="tag" href="#">#Computer Science</a></li>
            <li><a class="tag" href="#">#Software</a></li>
            <li><a class="tag" href="#">#Theory</a></li>
        </ul>
        <br class="clear" />
    </nav>

    <article id="content" class="page">
        <h1>Computational Theory of Parenthetical Locality</h1>
        <p>Classical physics <b>(the physics existing before quantum mechanics)</b> is a set of fundamental theories which describes nature at ordinary (macroscopic) scale. Most theories in classical physics can be derived from quantum mechanics as an approximation valid at large (macroscopic) scale.[3] Quantum mechanics differs from classical physics in that: energy, momentum and other quantities of a system may be restricted to discrete values (quantization), objects have characteristics of both particles and waves (wave-particle duality), and there are limits to the precision with which quantities can be known (uncertainty principle).</p>
        <h2>Some More Content</h2>
        <p>Quantum mechanics gradually arose from theories to explain observations which could not be reconciled with classical physics, such as Max Planck's solution in 1900 to the black-body radiation problem, and from the correspondence between energy and frequency in Albert Einstein's 1905 paper which explained the photoelectric effect. Early quantum theory was profoundly re-conceived in the mid-1920s by Erwin Schrödinger, Werner Heisenberg, Max Born and others. The modern theory is formulated in various specially developed mathematical formalisms. In one of them, a mathematical function, the wave function, provides information about the probability amplitude of position, momentum, and other physical properties of a particle.</p>
        <p>Important applications of quantum theory[5] include quantum chemistry, superconducting magnets, light-emitting diodes, and the laser, the transistor and semiconductors such as the microprocessor, medical and research imaging such as magnetic resonance imaging and electron microscopy. Explanations for many biological and physical phenomena are rooted in the nature of the chemical bond, most notably the macro-molecule DNA.</p>
    </article>
    <div class="page">
        <div class="grid article_teasers">
            <div class="row">
                <a class="cell2 article_teaser" href="#">
                    <p>Next</p>
                    <h6>Parenthetical Theory of Computational Locality</h6>
                </a>
                <a class="cell2 article_teaser" href="#">
                    <p>Previous</p>
                    <h6>Parenthetical Theory of Computational Locality</h6>
                </a>
            </div>
        </div>

        <div class="author">
            <img src="" />
            <h6>Written by Efe Ozturkoglu</h6>
            <p>Lorem ipsum blah blah some random text. I'm too lazy to look up Lorem Ipsum so here we are.</p>
            <br class="clear" />
        </div>
    </div>
</body>
</html>