* {
    margin: 0;
    padding: 0;
}
body {
    padding-bottom: 50px;
}
::-moz-selection {
    background: #E52D2D;
    color: #fff;
}
br.clear {
    clear: both;
    height: 0;
    width: 0;
    visibility: hidden;
}
nav {
    padding: 50px 0 50px 0;
}
nav header {
    width: 800px;
    height: 60px;
    margin: 0 auto 0 auto;
    background: #0C1426;
    border-radius: 8px;
}
nav img.logo {
    display: block;
    margin: auto;
    padding-top: 14px;
}
ul.tags {
    display: block;
    margin: auto;
}
ul.tags li {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 1.5em;
    margin-right: 15px;
}
ul.tags a.tag {
    color: #0e5ca8;
    transition: 0.1s linear;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
ul.tags a.tag:hover {
    color: #1282f0;
    text-decoration: underline;
}
article#content {

}
.page {
    width: 800px;
    margin: auto;
}
a.date {
    text-decoration: none;
    color: #E52D2D;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.1s color;
}
a.date:hover {
    color: #F26262;
    text-decoration: underline;
}
a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", Titillium, Calibri, Arial, sans-serif;
    font-weight: 400;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: pro, "ChunkFive Roman", serif;
    color: #21345D;
}
h1 {
    font-size: 32px;
    margin-top: 10px;
}
h2 {
    font-size: 24px;
}
p {
    line-height: 1.8em;
    font-size: 18px;
}
a {
    margin-top: auto;
}
.grid {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell2 {
    display: table-cell;
    width: 50%;
}
.article_teasers {
    margin-top: 10px;
}
.article_teaser {
    text-decoration: none;
    color: #000;
    padding: 15px;
}
.article_teaser.empty {
    visibility: hidden;
}
.article_teaser p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #a8b1c2;
    margin-top: 0;
}
.article_teaser h6 {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Titillium Web';
    font-weight: bold;
    color: #0e5ca8;
}
.article_teaser:hover {
    background: #fafafa;
}
.article_teaser:hover h6 {
    color: #1282f0;
}

.author {
    margin-top: 30px;
}
.author img {
    height: 80px;
    width: 80px;
    background: #ff5151;
    border-radius: 9999px;
    float: left;
    margin: 0 30px 0 0;
}
.author h6 {
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size: 18px;
}
.author p {
    line-height: 1.5em;
    margin-top: 0;
}


/*
 * Tablet
 */
 @media screen and (max-width: 860px) {
    nav header {
        width: 100%;
        border-radius: 0;
    }
    nav {
        padding: 0 0 20px 0;
    }
    .page {
        width: auto;
        margin: 20px 30px;
    }
    nav ul {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }
    .cell2 {
        display: block;
        width: auto;
    }
    .article_teaser {
        margin-top: 0;
    }
    .article_teaser.empty {
        display: none;
    }
}
/*
 * Phone
 */
@media screen and (max-width: 550px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
}



@font-face {
    font-family: curvy;
    src: url(https://efehq.com/res/font/curvy.eot?#iefix) format("embedded-opentype"), url(https://efehq.com/res/font/curvy.woff) format("woff"), url(https://efehq.com/res/font/curvy.ttf) format("truetype"), url(https://efehq.com/res/font/curvy.svg#svgFontName) format("svg");
    src: url(https://efehq.com/res/font/curvy.eot?#iefix) format("embedded-opentype"), url(https://efehq.com/res/font/curvy.woff) format("woff"), url(https://efehq.com/res/font/curvy.ttf) format("truetype"), url(https://efehq.com/res/font/curvy.svg#svgFontName) format("svg")
}
@font-face {
    font-family: pro;
    src: url(https://efehq.com/res/font/pro.eot?#iefix) format("embedded-opentype"), url(https://efehq.com/res/font/pro.woff) format("woff"), url(https://efehq.com/res/font/pro.ttf) format("truetype"), url(https://efehq.com/res/font/pro.svg#svgFontName) format("svg");
    src: url(https://efehq.com/res/font/pro.eot?#iefix) format("embedded-opentype"), url(https://efehq.com/res/font/pro.woff) format("woff"), url(https://efehq.com/res/font/pro.ttf) format("truetype"), url(https://efehq.com/res/font/pro.svg#svgFontName) format("svg")
}
@font-face {
    font-family: sleek;
    src: url(https://efehq.com/res/font/sleek.ttf)
}